$blue: #5474fd;
$dark: #232323;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-color: $dark;
    color: white;
}

img {
    display: block;
    max-width: 100%;
}

button {
    background-color: $blue;
    color: white;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    text-transform: uppercase;
}

/*HERO*/

.hero {

    height: 100vh;
    background-image: url("../images/Header\ picture.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;


}

.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 14rem;
    gap: 12px;
    margin-bottom: 8px;


}

.hero-content h1 {
    font-size: 48px;
    letter-spacing: 4px;
    margin-bottom: 25px;
}

.hero-content .subtitle {
    font-size: 14px;
    letter-spacing: 2.8px;
    line-height: 26px;
    margin-top: -10px;
    margin-bottom: 18px;


}

.scroll-down {
    color: white;
    margin-top: 60px;
    font-size: 14px;
    letter-spacing: 2.8px;
}

.navbar {
    display: flex;
    width: 100%;
    margin: auto;
    max-width: 1110px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.navbar h1 {
    font-size: 48px;
    letter-spacing: 4.8px;
}

.navbar ul {
    display: flex;
    gap: 35px;
    list-style: none;

}



.navbar a {
    color: white;
    text-decoration: none;
    font-size: 14px;

}

.bottom-nav {
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 7rem;
    gap: 25rem;

    margin-top: -4px;



}

.bottom-nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.bottom-nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.bottom-nav a.black-link {
    color: $dark;

}

.bottom-nav h1 {
    font-size: 24px;
    letter-spacing: 2.4px;

}

.search-bar {

    display: flex;
    margin-top: 15px;
}

.search-bar input {
    width: 653px;
    height: 63px;
    padding: 0 20px 0 35px;
    border: none;



}

.search-bar input::placeholder {
    font-size: 14px;
    letter-spacing: 1.4px;
    color: #999999;
}

.search-bar button {
    padding: 18px 35px;
}

.why-us {
    background-image: url("../images/Rectangle\ 41444\ \(2\).png");
    background-repeat: no-repeat;
    background-position: 20% center;
    background-size: cover;

    padding: 6rem 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.why-us-text {
    max-width: 450px;
}

.why-us-text h2 {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 30px;
}

.why-us-text p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
    font-weight: 400;

}

.why-us-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
}

.why-us-images img {
    width: 350px;
}

.why-us-images img:first-child {
    margin-bottom: 0;

}

.why-us-images img:last-child {
    margin-left: 80px;
    margin-top: 0px;

}

.how-it-works {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 220px;
    background-color: #333333;
    position: relative;
    padding: 5rem;

}

.icon-card {
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;
    width: 200px;


}

.icon-card img {
    width: 60px;
    margin-bottom: 1rem;
}

.shape-left,
.shape-right {
    width: 500px;
    height: 180px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    border-color: white transparent transparent transparent;
    top: 20px;

}

.shape-left {
    left: 250px;
}

.shape-right {
    right: 280px;
}



.features-one {
    background-image: url("../images/Rectangle\ 414\ 45\ \(1\).png");
    background-size: cover;
    background-position: center;
    padding: 8rem;
}

.feature-card-one {
    color: white;
    width: 35rem;
    padding: 3rem;
    background-color: #232323;
}

.features-two {
    background-image: url("../images/card\ two\ img.png");
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 8rem;
    justify-content: flex-end;
}

.feature-card-two {
    color: white;
    background-color: #232323;
    width: 35rem;
    padding: 3rem;
    background-color: #232323;
}

.testimonial {
    background-image: url("../images/Rectangle\ 4142\ 1\ \(1\).png");
    background-size: cover;
    background-position: center;
    padding: 8rem;
}

.testimonial h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 36px;
}

.testimonial-box {
    display: flex;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}

.testimonial-box img {
    width: 30%;
    height: 260px;
    object-fit: cover;
}

.testimonial-text {
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: #333333;
    padding: 3rem;
    width: 70%;
    color: white;

}

.testimonial-text p {
    line-height: 26px;
    font-size: 14px;
}

footer {
    text-align: center;
    padding: 4rem;
    background-color: $dark;
    width: 100%;
    margin: 0 auto;
}


.footer h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer p {
    margin-bottom: 2rem;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.social-media img {
    object-fit: contain;
    width: 40px;
    height: 26px;
}

.social-media img hover {
    transform: scale(1.1);
}

button:hover {
    cursor: pointer;
    background-color: #496BFE;
    transform: scale(1.05);
    transition: 0.3s;
}

@media (max-width: 768px) {
    .bottom-nav {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
    }
.bottom-nav ul{
    flex-direction: column;
    align-items: center;
}
.why-us,
.how-it-works,
.testimonial-box{
    flex-direction: column;
}
.search-bar{
    flex-direction: column;
    align-items: center;
}
.search-bar input{
    width: 100%;
    max-width: 320px;
}
.why-us-images img{
    width: 100%;
}
}